In [284]:
import numpy as np
import pandas as pd

In [285]:
df = pd.read_csv('psgc.csv', encoding ='latin1')

In [286]:
# Clean data
df['level'] = df['level'].str.lower()
df['name'] = df['name'].str.lower()
df = df.fillna('none')
df.head(3)

       code                      name level
0  10000000  region i (ilocos region)   reg
1  12800000              ilocos norte  prov
2  12801000                     adams   mun

In [287]:
'''
Test locations
- Locations are formatted inside a list of tuples.
- Inside each tuple are two strings: the name and location and its corresponding location type.
- There are 8 location types: 'reg', 'dist', city', 'prov', 'mun', 'submun', 'bgy', and 'none'.
'''

location1 = [('antipolo', 'none'), ('rizal', 'none')]
location2 = [('cagayan valley', 'reg')]
location3 = [('calamba', 'city'), ('rizal', 'prov')]

In [288]:
df[df['name'].str.contains(location1[0][0])].head(2)

          code             name level
6679  34902001         antipolo   bgy
8780  37109002  antipolo (pob.)   bgy

In [289]:
df[df['name'].str.contains(location1[1][0])].head(2)

          code          name level
696   12905026  rizal (pob.)   bgy
1035  12922025         rizal   bgy

In [290]:
location4 = [('quezon', 'city')]
df[(df['name'].str.contains(location4[0][0])) & (df['level'].str.contains(location4[0][1]))]

            code         name level
37773  137404000  quezon city  city

In [291]:
def search(location):
    '''
    search() accepts a list of strings referring to locations and return its equivalent geographic code.
    Part 1: Collection
        a. Provide a list of strings that refer to a certain location.
        b. Find entries in the Philippine Standard Geographic Code list that contain the strings in column 'names'.
        c. Return the list of entries that match the query above.
    Part 2: Partition
        a. Separate the entries according to level (region, province, municipality, barangay) into new lists.
    Part 3: Comparision
        a. 
    '''
    # Collection
    names = []
    for name in location:
        subset = df[df['name'].str.contains(name[0])]
        tuples = [tuple(x) for x in subset.values]
        names.append(tuples)
        
    # Partition
    # regions = list(filter(lambda x: x[2]=='reg', names))
    # cities = list(filter(lambda x: x[2]=='city', names))
    # provinces = list(filter(lambda x: x[2]=='prov', names))
    # municipalities = list(filter(lambda x: x[2]=='mun', names))
    # barangays = list(filter(lambda x: x[2]=='bgy', names))
    
    # Comparison
    
    # print('regions', regions)
    # print('cities', cities)
    # print('provinces', provinces)
    # print('municipalities', municipalities)
    # print('barangays', barangays)
    return names

In [281]:
search(location1)

[[(34902001, 'antipolo', 'bgy'),
  (37109002, 'antipolo (pob.)', 'bgy'),
  (41014005, 'antipolo del norte', 'bgy'),
  (41014006, 'antipolo del sur', 'bgy'),
  (41021002, 'antipolo', 'bgy'),
  (41026002, 'antipolo', 'bgy'),
  (41027001, 'antipolo', 'bgy'),
  (43423001, 'antipolo', 'bgy'),
  (45630003, 'antipolo', 'bgy'),
  (45645001, 'antipolo', 'bgy'),
  (45802000, 'city of antipolo (capital)', 'city'),
  (174003001, 'antipolo', 'bgy'),
  (175208002, 'antipolo', 'bgy'),
  (51701002, 'antipolo', 'bgy'),
  (51705001, 'antipolo', 'bgy'),
  (51716001, 'antipolo', 'bgy'),
  (51722001, 'antipolo', 'bgy'),
  (51723002, 'antipolo old', 'bgy'),
  (51723003, 'antipolo young', 'bgy'),
  (51727001, 'antipolo', 'bgy'),
  (51737002, 'antipolo', 'bgy'),
  (52001001, 'antipolo', 'bgy'),
  (52011001, 'antipolo del norte', 'bgy'),
  (52011002, 'antipolo del sur', 'bgy'),
  (54115001, 'antipolo', 'bgy'),
  (56203004, 'antipolo', 'bgy'),
  (60406003, 'antipolo', 'bgy'),
  (64521001, 'antipolo', 'bgy'),
  (71222002, 'antipolo', 'bgy'),
  (72231001, 'antipolo', 'bgy'),
  (72252003, 'antipolo', 'bgy'),
  (82613001, 'antipolo', 'bgy'),
  (83703001, 'antipolo', 'bgy'),
  (83722002, 'antipolo', 'bgy'),
  (97201002, 'antipolo', 'bgy'),
  (142711002, 'antipolo', 'bgy'),
  (166708002, 'antipolo', 'bgy'),
  (166814003, 'antipolo', 'bgy')],
 [(12905026, 'rizal (pob.)', 'bgy'),
  (12922025, 'rizal', 'bgy'),
  (12933038, 'rizal (pob.)', 'bgy'),
  (13320018, 'rizal', 'bgy'),
  (15529013, 'rizal', 'bgy'),
  (15531019, 'rizal', 'bgy'),
  (15532075, 'rizal (pob.)', 'bgy'),
  (21521000, 'rizal', 'mun'),
  (23101020, 'rizal', 'bgy'),
  (23101021, 'rizaluna', 'bgy'),
  (23103016, 'rizaluna (lapuz)', 'bgy'),
  (23108056, 'rizal', 'bgy'),
  (23109001, 'aguinaldo (rizaluna este)', 'bgy'),
  (23109014, 'rizaluna (rizaluna oeste)', 'bgy'),
  (23113020, 'rizal', 'bgy'),
  (23118015, 'rizal (ragan almacen alto)', 'bgy'),
  (23120017, 'rizal', 'bgy'),
  (23123007, 'rizal', 'bgy'),
  (23126011, 'rizal (pob.)', 'bgy'),
  (23128016, 'rizal', 'bgy'),
  (23129012, 'rizal east (pob.)', 'bgy'),
  (23129013, 'rizal west (pob.)', 'bgy'),
  (23135025, 'rizal', 'bgy'),
  (25703018, 'rizal (pob.)', 'bgy'),
  (25705004, 'rizal (pob.)', 'bgy'),
  (30804029, 'rizal (pob.)', 'bgy'),
  (30811022, 'rizal (pob.)', 'bgy'),
  (34902020, 'rizal (pob.)', 'bgy'),
  (34906040, 'rizal', 'bgy'),
  (34917031, 'rizal', 'bgy'),
  (34923000, 'rizal', 'mun'),
  (34927011, 'rizal district (pob.)', 'bgy'),
  (34928010, 'rizal (pob.)', 'bgy'),
  (35407011, 'rizal', 'bgy'),
  (36901015, 'rizal', 'bgy'),
  (36906033, 'rizal', 'bgy'),
  (36907018, 'rizal', 'bgy'),
  (36909024, 'rizal', 'bgy'),
  (37109014, 'rizal', 'bgy'),
  (37111014, 'rizal (pob.)', 'bgy'),
  (41006028, 'rizal', 'bgy'),
  (41012036, 'rizal', 'bgy'),
  (41014053, 'rizal', 'bgy'),
  (41034015, 'rizal (pob.)', 'bgy'),
  (43402006, 'paciano rizal', 'bgy'),
  (43405033, 'paciano rizal', 'bgy'),
  (43410024, 'rizal (pob.)', 'bgy'),
  (43416032, 'rizal', 'bgy'),
  (43420010, 'rizal (pob.)', 'bgy'),
  (43423000, 'rizal', 'mun'),
  (43427023, 'jose rizal', 'bgy'),
  (43429023, 'j. rizal (pob.)', 'bgy'),
  (45603030, 'rizal', 'bgy'),
  (45605027, 'rizal', 'bgy'),
  (45606013, 'rizal', 'bgy'),
  (45607064, 'rizal ibaba', 'bgy'),
  (45607065, 'rizal ilaya', 'bgy'),
  (45619038, 'rizal (pob.)', 'bgy'),
  (45622058, 'rizal (rural)', 'bgy'),
  (45622095, 'rizal (poblacion)', 'bgy'),
  (45625018, 'rizal (pob.)', 'bgy'),
  (45627022, 'rizaliana (pob.)', 'bgy'),
  (45629015, 'rizal', 'bgy'),
  (45633011, 'rizal', 'bgy'),
  (45634033, 'rizalino', 'bgy'),
  (45644018, 'rizal', 'bgy'),
  (45646030, 'rizal', 'bgy'),
  (45649031, 'rizal ibaba', 'bgy'),
  (45649032, 'rizal ilaya', 'bgy'),
  (45800000, 'rizal', 'prov'),
  (45803002, 'rizal (pob.)', 'bgy'),
  (175108000, 'rizal', 'mun'),
  (175108006, 'rizal', 'bgy'),
  (175301009, 'jose rizal', 'bgy'),
  (175314011, 'rizal', 'bgy'),
  (175318017, 'rizal', 'bgy'),
  (175323000, 'rizal (marcos)', 'mun'),
  (175909025, 'rizal', 'bgy'),
  (50505004, 'rizal pob. (bgy. 1)', 'bgy'),
  (50506013, 'bgy. 17 - rizal street., ilawod (pob.)', 'bgy'),
  (50506073, 'bgy. 24 - rizal street', 'bgy'),
  (50512040, 'rizal', 'bgy'),
  (51610004, 'rizal', 'bgy'),
  (51732019, 'rizal (pob.)', 'bgy'),
  (52002023, 'rizal', 'bgy'),
  (52008026, 'rizal', 'bgy'),
  (52010018, 'rizal', 'bgy'),
  (54104013, 'rizal', 'bgy'),
  (54108017, 'rizal', 'bgy'),
  (54109014, 'rizal', 'bgy'),
  (54114009, 'rizal', 'bgy'),
  (54120007, 'ki-buaya (rizal)', 'bgy'),
  (56203036, 'n. roque (rizal)', 'bgy'),
  (56205015, 'rizal', 'bgy'),
  (56208034, 'rizal', 'bgy'),
  (56214013, 'rizal', 'bgy'),
  (56216027, 'rizal', 'bgy'),
  (60406028, 'rizal', 'bgy'),
  (60414016, 'rizal', 'bgy'),
  (60614040, 'rizal', 'bgy'),
  (61912021, 'rizal', 'bgy'),
  (61917033, 'rizal norte', 'bgy'),
  (61917034, 'rizal sur', 'bgy'),
  (63002018, 'cabacanan rizal', 'bgy'),
  (63008017, 'rizal', 'bgy'),
  (63013059, 'poblacion rizal ilaud', 'bgy'),
  (63018048, 'lopez jaena - rizal (pob.)', 'bgy'),
  (63020030, 'rizal-tuguisan (pob.)', 'bgy'),
  (63022125, 'rizal palapala i', 'bgy'),
  (63022126, 'rizal palapala ii', 'bgy'),
  (63022136, 'rima-rizal', 'bgy'),
  (63022137, 'rizal estanzuela', 'bgy'),
  (63022138, 'rizal ibarra', 'bgy'),
  (63022196, 'pale benedicto rizal (mandurriao)', 'bgy'),
  (63022202, 'rizal (la paz)', 'bgy'),
  (63029030, 'mari pob. (mabini-rizal)', 'bgy'),
  (63034025, 'rizal', 'bgy'),
  (64509018, 'rizal', 'bgy'),
  (64521007, 'buenavista rizal', 'bgy'),
  (64523021, 'rizal', 'bgy'),
  (64524019, 'rizal', 'bgy'),
  (64525009, 'tabao rizal', 'bgy'),
  (64526016, 'rizal', 'bgy'),
  (67901023, 'rizal', 'bgy'),
  (67902023, 'rizal', 'bgy'),
  (71207013, 'rizal', 'bgy'),
  (71208013, 'rizal', 'bgy'),
  (71213022, 'rizal', 'bgy'),
  (71234018, 'rizal', 'bgy'),
  (71243023, 'rizal', 'bgy'),
  (72237018, 'rizal', 'bgy'),
  (72238014, 'rizal', 'bgy'),
  (82606037, 'rizal', 'bgy'),
  (82617034, 'rizal', 'bgy'),
  (82618016, 'rizal (pana-ugan)', 'bgy'),
  (83705011, 'rizal i', 'bgy'),
  (83705022, 'rizal ii', 'bgy'),
  (83715048, 'rizal (tagak east)', 'bgy'),
  (83717049, 'rizal', 'bgy'),
  (83718034, 'rizal', 'bgy'),
  (83724024, 'rizal', 'bgy'),
  (83726016, 'rizal', 'bgy'),
  (83728030, 'rizal', 'bgy'),
  (83740033, 'rizal', 'bgy'),
  (83746014, 'district ii pob. (rizal)', 'bgy'),
  (84805037, 'new rizal', 'bgy'),
  (84805038, 'old rizal', 'bgy'),
  (84805075, 'jose p. rizal (pob.)', 'bgy'),
  (84807021, 'rizal', 'bgy'),
  (84810036, 'rizal', 'bgy'),
  (84817007, 'rizal', 'bgy'),
  (86003128, 'rizal i (calbayog district)', 'bgy'),
  (86003129, 'rizal ii (oquendo district)', 'bgy'),
  (86006043, 'rizal', 'bgy'),
  (86007068, 'rizal', 'bgy'),
  (86011017, 'rizal', 'bgy'),
  (86407050, 'rizal', 'bgy'),
  (86408015, 'rizal', 'bgy'),
  (86417032, 'rizal', 'bgy'),
  (86418018, 'rizal', 'bgy'),
  (97203007, 'dr. jose rizal (lower mias)', 'bgy'),
  (97212000, 'rizal', 'mun'),
  (97212015, 'rizalina', 'bgy'),
  (97214018, 'new rizal', 'bgy'),
  (97319025, 'rizal', 'bgy'),
  (97340013, 'rizal', 'bgy'),
  (101302003, 'tangkulan (jose rizal)', 'bgy'),
  (104207017, 'rizal (pob.)', 'bgy'),
  (104208024, 'rizal', 'bgy'),
  (104209023, 'rizal lower', 'bgy'),
  (104209046, 'rizal upper', 'bgy'),
  (104306022, 'rizal', 'bgy'),
  (112401019, 'rizal', 'bgy'),
  (112403019, 'kapatagan (rizal)', 'bgy'),
  (112408020, 'rizal (parame)', 'bgy'),
  (112412006, 'jose rizal', 'bgy'),
  (112508012, 'rizal', 'bgy'),
  (118207014, 'rizal', 'bgy'),
  (124707013, 'jose rizal', 'bgy'),
  (124710028, 'new rizal', 'bgy'),
  (126302019, 'rizal (barrio 3)', 'bgy'),
  (126302020, 'rizal poblacion', 'bgy'),
  (137401015, 'mabini-j. rizal', 'bgy'),
  (137602033, 'rizal', 'bgy'),
  (141102155, 'rizal monument area', 'bgy'),
  (143211000, 'rizal (liwan)', 'mun'),
  (160201023, 'rizal', 'bgy'),
  (160202045, 'jose rizal pob. (bgy. 25)', 'bgy'),
  (160308020, 'rizal', 'bgy'),
  (166721010, 'rizal', 'bgy'),
  (166723007, 'rizal (pob.)', 'bgy'),
  (166724037, 'rizal', 'bgy'),
  (166801016, 'rizal', 'bgy'),
  (168501000, 'basilisa (rizal)', 'mun')]]